<div class="deslizamiento_izquierda" id="nav_overlay">

    <head>
        <!-- HOJA DE ESTILOS -->
        <link rel="stylesheet" href="./../../styles/navbar.css">
        <!-- LOGICA DEL NAVBAR -->
        <script src="./../logic/navbar.js" defer></script>
    </head>


    <nav>
        <ul class="nav_elements">
            <li id="nav_index" class="slide-out-1"><a href="./../index.html">Autores</a></li>
            <li id="nav_juego" class="slide-out-2"><a href="../pages/juego.html">Juego</a></li>
            <li id="nav_descripcion" class="slide-out-3"><a href="../pages/descripcion.html">Descripción del Juego</a>
            </li>
            <li id="nav_desarrollo" class="slide-out-4"><a href="../pages/desarollo.html">Desarollo</a></li>
            <li id="nav_multimedia" class="slide-out-5"><a href="../pages/multimedia.html">Multimedia</a></li>
            <li id="nav_referencias" class="slide-out-6"><a href="../pages/referencias.html">Referencias</a></li>
        </ul>

    </nav>

</div>

<!--Si no ponemos una clase para el formato, y un id para el scrpit, hace cosas raras-->
<div class="hamburger-menu" id="hamburger-menu">
    <img src="./../media/img/menu.svg" id="menu_img">
</div>